@media (min-width:1000px) {
    .navigation {
        display: flex;
        margin: 0;
    }
    .navigation li {
        display: block;
        flex:  1 1 100%;
    }
    .navigation a {
        text-align: center;
        margin: 0;
    }
    .navigation li a:hover {
        background-color: #83d9e8;
    }
    #menu {
        display: none;
    }
    header h1 {
        font-size: 6em;
    }
    header img {
        transform: scale(1);
    }
    .herolabel {
        height: 18rem;
    }
    .herolabel h2 {
        font-size: 3.5em;
    }
    .herolabel p {
        font-size: 1.7em;
    }
    .herolabel button {
        font-size: 1.5em;
    }
    .antiherolabel p {
        font-size: 4em;       
    }
    .sm {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;        
    }
    .showroom {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3 1fr);
        gap: 1rem;        
    }
    .rental-type img {
        margin: 0 auto;
    }
    thead:first-child {
        font-size: 1.5em;
    }
    .home .showroom {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));

    }
    
}