@media (min-width:600px) {
    .navigation {
        display: flex;
        margin: 0;
    }
    .navigation li {
        display: block;
        flex:  1 1 100%;
    }
    .navigation a {
        text-align: center;
        margin: 0;
    }
    .navigation li a:hover {
        background-color: #83d9e8;
        transform: scale(1.3);
        padding: .77rem;
    }
    #menu {
        display: none;
    }
    .herolabel h2 {
        font-size: 2.5em;
    }
    .scoots-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .main-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .scoots-info {
        margin-left: 1rem;
    }
    .class-footer {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .herolabel button:hover {
        background-color: #83d9e8;
        transform: scale(1.3);
        transition: 1.5s;
    }
    .close-btn {
        font-size: 1.5em;
    }
    .content button:hover {
        background-color: var(--secondary-color);
        transform: scale(1.3);
        transition: 1s;
    }
    .sm-icons img:hover {
        color:white;
  	    opacity: 50%;
  	    transition-duration:1s;
        transform: scale(1.2);
    }
    .class-footer a:hover {
        color: var(--secondary-color);
    }
    .prices button:hover {
        background-color: var(--secondary-color);
        transform: scale(1.3);
        transition: 1s;
    }
    .form input[type="submit"]:hover {
        background-color: var(--secondary-color);
        color: var(--primarycolor);
    }

    
    
    
   
    
   
    
   
}