@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-color:#004000;
    --secondary-color:#83d9e8;
    --tertiary-color:#cbb78a;
    --font-family:"Leckerli One", cursive;
}

/* 
.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
*/

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height: 1.5em;
}

/*HEADER*/
header {
    display: flex;
    justify-content: center;
    padding: 1rem 1rem;
    align-items: center;
    margin: 0;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

header img {
    max-width: 200px;
    height: auto;
    padding: .8rem;
    transform: scale(.8);
}

header h1 {
    font-family: var(--font-family);
    font-size: 4em;
}

/*MOBILE MENU*/
#menu {
    display: block;
    font-size: 2em;
    font-weight: 700;
    text-decoration: none;
    padding: .5rem .75rem;
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    margin: 0;
}

#menu::before {
    content: "≡";
}

nav {
    background-color: var(--tertiary-color);
    margin: 0;
}

nav ul {
    margin: 0;
}

.navigation {
    list-style: none;
}

.navigation li {
    display: none;
}

.navigation li a {
    display: block;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1.2em;
    font-weight: 700;
}

.show li {
    display: block;
}

#menu.show::before {
    content: "x";
}

.open a {
    display: block;
}

.navigation li a.active {
	text-decoration: underline;
	text-decoration: solid;
	text-decoration-thickness: 5px;
	text-decoration-color: var(--primary-color);
}

/*DARK MODE*/

#mode {
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 3rem;
	cursor: pointer;
	font-size: 2rem;
}

/*WAYFINDING*/
.active::before {
    content: "|";
}

.active::after {
    content: "|";
}

/*HERO*/
main {
    margin: 0 auto;
}

.hero {
    width: 100%;
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    margin: 0 auto;
}

.herolabel {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10rem;
    background-color:hsla(189, 69%, 71%, 0.8);
    text-align: center;
    line-height: .8em;
}

.herolabel h2 {
    color: var(--primary-color);
    font-family: var(--font-family);
    font-size: 1.5em;
    text-align: center;
    padding: .5rem;
}

.herolabel p {
    color: var(--primary-color);
    text-align: center;
    font-size: .8;
}

.herolabel button {
    padding: .5rem;
    font-weight: 700;
    font-size: .6;
    border-radius: 20px;
    color: var(--primary-color);
    background-color: var(--tertiary-color);
    border: none;
    box-shadow: 10px 5px 5px rgba(0, 64, 0, .7);   
}


.antihero {
    width: 100%;
    position: relative;
}

.antihero img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    margin: 0 auto;
}

.antiherolabel {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10rem;
    text-align: left;
    top: 35%;
    margin-right: 0;  
  
}

.antiherolabel p {
    font-family: var(--font-family);
    color: var(--primary-color);
    font-size: 2em; 
}

/*FOOTER*/

footer {
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    font-weight: 700;
    text-align: center;
    justify-content: center;
    padding: .8rem;    
}

.class-footer {
    font-size: .8em;  
}

.class-footer p a {
    text-decoration: none;
    color: var(--primary-color);
}

.sm-icons {
    padding: 2em;
}
.sm-icons a {
    padding: 1em;
}

/*FORM-RESERVATION AND CONTACT PAGES*/
.agreement {
    padding: 1rem 2.5rem;
    color: var(--primary-color);
}

.agreement h2 {
    font-family: var(--font-family);
    font-size: 2em;
}

.agreement ol span {
    font-weight: 700;
}

.form-intro {
    padding:1rem 2.5rem;
    color: var(--primary-color);
}

.form-intro h2 {
    font-family: var(--font-family);
    font-size: 2em;
    color: var(--primary-color);
}

.form-intro p {
    color: var(--primary-color);
}

.form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    max-width: 400px;
    padding:1rem 2.5rem;
    color: var(--primary-color);
    margin: 0 auto;
}

.form fieldset {
    margin: 1rem 0;
    background-color: var(--secondary-color);
    border-radius: 20px;
    border: none;
    padding: 1.5rem;
    padding-bottom: 2rem;
}

.form legend {
    font-weight: 700;
    font-size: 1.5em;
    text-align: center;
    padding: 1rem;
    font-family: var(--font-family);
    background-color: var(--secondary-color); 
    color: var(--primary-color);
    border-radius: 20px;
}

.form label {
    display: block;
    padding-top: 1rem;
    font-size: 1em;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="tel"] {
    display: block;
    padding: 1rem;
    width: 100%;
    max-width: 250px;
    appearance: none;
}

.form input[type="submit"] {
    border: none;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 1.5rem;
    font-family: var(--font-family);
    font-size: 2em;
    width: 100%;
    border-radius: 20px;
    margin-top: .2rem;
}

.form input:required {
    border-right: 6px solid #d7776b; 
}
.form input:required:valid {
    border-right: 6px solid #147e12;
}

textarea {
    width: 300px;
}

/*THANK YOU PAGES*/
.thanks {
    padding: 3rem;
    color: var(--primary-color);
    text-align: center;
    border: 6px solid var(--primary-color);
    margin: 3rem;
    border-radius: 20px;
}

.thanks h2 {
    font-family: var(--font-family);
    font-size: 2.5em;
}

.thanks p span {
    font-weight: 700;
    font-size: 1.2em;
}

/*CONTACT PAGE*/
.contact {
   margin: 2.5rem;
   padding: 1rem;
   color: var(--primary-color);
}

.contact h2 {
    font-family: var(--font-family);
    font-size: 2em;
}

.sm div {
    display: flex;
    flex-direction: row;
    padding: 1rem;
}

.sm p {
    padding-left: 1rem;
}

.shops img {
    max-width: 400px;
}

.shops div {
    text-align: center;
}

/*RENTALS*/
.rentals {
    margin: 2.5rem;
    padding: 1rem;
    color: var(--primary-color);
}
.rentals h2 {
    font-family: var(--font-family);
    font-size: 2em;   
}
.rental-type {
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 1.5rem;
}
.showroom {
    margin-bottom: 2rem;
}
.rental-type img {
    max-width: 400px;
    display: block;
}
.rental-type h3 {
    font-family: var(--font-family);
    font-size: 2em;
}
table {
    border: 1px solid var(--primary-color);
    font-size: .8em;
    letter-spacing: 1px;
    font-weight: 400;
    text-align: center;
    margin: 0 auto;
}
th, td {
    border: 1px solid var(--primary-color);
    padding: 8px 10px;
}
td:last-of-type {
    text-align: center;
}
  
tbody > tr:nth-of-type(even) {
    background-color: var(--tertiary-color)
}
thead:first-child {
    background-color: var(--tertiary-color);
    font-family: var(--font-family);
    font-size: 1em;
}
/*HOME*/
.home .showroom .rental-type {
    transform: scale(.7);
    margin: -3.5em;
    padding: 0;
    color: var(--primary-color);
}
.home .showroom {
    display: flex;
    flex-direction: column;
    margin: 2.5rem;
}
.home .showroom .rental-type img {
    margin: 0 auto;
}
.content {
    margin: 2.5rem;
    padding: 1rem;
}

.content h2 {
    color: var(--primary-color);
    font-family: var(--font-family);
    font-size: 2em;  
}
.content p {
    color: var(--primary-color);
    margin: 2.5rem;   
}

.sm a:link {
    text-decoration: underline;
    color: var(--primary-color);   
}
.sm a:visited {
    color: var(--primary-color);
}
.sm a:hover {
    color: var(--secondary-color);
}    
.explore-cozumel h3 {
    color: var(--primary-color);
    font-family: var(--font-family);
    font-size: 1.5em;  
}

.content button {
    display: block;
    background-color:var(--tertiary-color);
    padding: 20px;
    color: var(--primary-color);
    margin: 0 auto;
    border: none;
    border-radius: 20px;
    font-weight: 600;
    text-align: center;
    
}

.content button:hover {
    background-color: var(--secondary-color);
    transform: scale(1.3);
    transition: 1s;
}

#banner {
    bottom: 0;
    background-color: var(--primary-color);
    padding: 20px;
    text-align: center;
    color: var(--secondary-color);
    font-family: var(--font-family);
    font-size: 1.5em;
}
.close-btn {
    position: absolute;
    top: 5px;
    left: 10px;
    cursor: pointer;
    font-size: 2em;
}
#weather, #forecast {
    background-color: #83d9e8;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    align-items: center;
    display: flex;
    flex-direction: row;  
    gap: 0;
    max-width: fit-content;
    min-width: min-content;
    padding: 0;
    justify-content: left;   
}

#weather figcaption {
    display: inline;
    align-items: center;
    color:var(--primary-color);
}

#weather img {
    transform: scale(1.5);
}

#weather p{
    display: inline;
    padding: 0;
    margin: 1rem;
}