@import url('https://fonts.googleapis.com/css2?family=Domine&family=Open+Sans&family=Seaweed+Script&display=swap');

body{
    grid-template-columns: repeat(12, 1fr);
    font-family: 'Open Sans', sans-serif;
}
.hero {
    height: 100vh;
    width: 100%;
    background-image: url(/lesson03/images/basilica-compressed.jpg);
    background-size: cover;
    text-align: center;
    color: white;
    font-family: 'Seaweed Script', cursive;
}
.hero h1{
    padding-top: 2rem;
    font-size: 3em;
    font-family: 'Domine', serif;
}

.hero p{
    font-size: 1.5em;
}

h2{
    font-size: 1.2em;
    font-family: 'Domine', serif;
    color: #fff;
    background-color:#3b60a0;
    padding: 0.5rem;
}
.box{
    float: left;
    height: 30px;
    width: 50px;
    border: 1px solid #000;
   margin-right: 5px;
    
}
.color1{
    background-color: #3b60a0;
}
.color2{
    background-color: #fff;
}
.domine{
    font-family: 'Domine', serif;
    font-size: 1.5em;
}
.seaweed{
    font-family: 'Seaweed Script', cursive;
    font-size: 2em;
}
.wireframe img{
    width: 50%;
    height:auto;
}

@media (max-width: 768px) {
    .hero {
        height: 50vh;
           
    }
    .hero p{
        color: #000;
        background-color: #fff;
    }

}

