@import url('https://fonts.googleapis.com/css2?family=Domine&family=Open+Sans&family=Seaweed+Script&display=swap');


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
    display: grid;
    grid-template-columns:auto 1fr auto;
    grid-template-rows: auto auto 1fr auto;
    list-style-type: none;
	background-color: #fff;
}

nav {
	max-width: 700px;
	margin: 1rem auto;
}
header{
    grid-column: 1/13;
}
/* Mobile View ***************/
#menu {
	display: block;
	font-size: 2rem;
	font-weight:700;
	text-decoration: none;
	padding: .5rem .75rem;
	background-color: #eee;
	color: #000;
}

#menu::before {
	content: "≡";
}

nav {
	background-color: #fff;
    
}
.navigation {
	list-style: none;
	
	
}

.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: #34568f;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a:hover, navigation a:active {
	color: white;
	background-color: #34568f;
}

nav ul li{
	line-height: 4rem;
}

.show li {
	display: block;
}

#menu.show::before {
	content: "X";
}


/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
	display: block;
}
/*Dark mode toggle switch*/

#mode {
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 3rem;
	cursor: pointer;
	font-size: 2rem;
}


/*Hero*/
main {
	
	margin: 0 auto;
}

.hero {
	margin: 10px auto;
    margin-top: 0;
	position: relative;
	border: 1px solid rgba(0,0,0,.1);
	height: 300px;
}

.hero img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.herolabel {
	position: absolute;
	top: 30px;
	left: 30px;
	padding: 1.5rem;
	
	
}

.herolabel h1 {
	margin: 0;
	padding: .25rem;
	font-weight: 700;
	font-size: 1.8rem;
	font-family: 'Domine', serif;
    color: #fff;
    font-weight: bold;
    text-shadow: 3px 3px 5px #34568f;
    
}

.herolabel button{
    padding: 1rem;
    color:#34568f;
    background-color: #fff;
    border:1px solid #34568f;
    border-radius: 20px;
    box-shadow: 2px 2px 5px #fff;
    font-weight: bold;
    margin-top: 1rem;
}


/*Sections*/
.events, .weather, .members{
    border: 1px solid #34568f;
    margin: 2rem;
    padding: 2rem;
}

section h2{
    font-family: 'Domine', serif;
    color: #34568f;
}

.windchill button{
	margin-top: 20px;
}

/*CTA*/
button{
    display: block;
    grid-column: 5/7;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border:1px solid #34568f;
    border-radius: 20px;
    margin-bottom: 2rem;
    color: #34568f;
    font-family: 'Domine', serif;
    font-weight: bold;
    box-shadow: 2px 2px 5px #34568f;


}

/*Footer*/

footer{
    grid-column: 1/13;
    padding: 2.5rem;
    margin: 0;
    list-style: none;
    background-color: #34568f;
    color: #fff;
    text-align: center;
    list-style-type: none !important;
    text-decoration: none;
   
}

