@import url('https://fonts.googleapis.com/css2?family=Domine&family=Open+Sans&family=Seaweed+Script&display=swap');

:root{
	--primary-color:#34568f;
	--secondary-color:#fff;
	--font-family: 'Domine', serif;
}

body{
    margin: 0;
    padding: 0;
	font-family:'open sans', sans-serif;
	line-height: 1.5em;
}

h2 {
	text-align: center;
	font-family: var(--font-family);
	color: var(--primary-color);
	font-size: 1.5em;
	padding: 2rem;
	
    
}

/*Header*/
header{
    display: flex;
    justify-content: center;
    padding: 20px 0;
    align-items: center;
	margin: 0;
}

header img{
    max-width: 100px;    
    height: auto;
    padding-right: 10px;
    border-radius: 50%;
     
}

header h1{
    font-family: var(--font-family);
	color: var(--primary-color);
    font-size: 2em;  
    align-items: center;
    padding-left: 10px; 
	margin: 2rem;
}

nav {
	max-width: 100%;
	margin: 1rem auto;
	padding: 0;
	margin-top: 0;
	background-color: var(--primary-color);	
}

/* Mobile View ***************/
#menu {
	display: block;
	font-size: 2rem;
	font-weight:700;
	text-decoration: none;
	padding: .5rem .75rem;
	background-color: #eee;
	color: #000;
}

#menu::before {
	content: "≡";
}

nav {
	background-color: var(--primary-color);
    
}
.navigation {
	list-style: none;
}

.navigation li {
	display: none;
}
.navigation li a {
	display: block;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: var(--secondary-color);
	font-weight: bold;
	font-size: 1.2em;
}

.active::before {
	content: "|";  /* just a wayfinding symbol for the user */
}
.active::after {
	content: "|";  /* just a wayfinding symbol for the user */
}

.show li {
	display: block;
}

#menu.show::before {
	content: "X";
}


/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
	display: block;
}

.navigation li a.active {
	text-decoration: underline;
	text-decoration: solid;
	text-decoration-thickness: 5px;
	text-decoration-color: #fff;
}


/*Dark mode toggle switch*/

#mode {
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 3rem;
	cursor: pointer;
	font-size: 2rem;
}

/*Hero*/
main { 
	margin: 0 auto;	
}


.hero{
	width: 100%;
	position: relative;
}

.hero img{
	width: 100%;
	height: auto;
	object-fit: cover;
	margin-top: 0;
	margin: 0 auto;	
}

.herolabel{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 8rem;
	background-color: hsla(218, 47%, 38%, 0.8);
	
}
.herolabel h2{
	color: var(--secondary-color);
	font-family: var(--font-family);
	text-align: center;
	padding: 0.2rem;
	
}
.herolabel button{
    padding: 1rem;
    color:#34568f;
    background-color: #fff;
    border:1px solid #34568f;
    border-radius: 20px;
    box-shadow: 2px 2px 5px #fff;
    font-weight: bold;
    margin-top: 1rem;
	padding-bottom: 10px;
}


/*Sections*/

.events, .weather {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 2rem;
    padding: 2rem;
}

.when {
	color: #34568f;
	font-weight: bold;
	background-color: #fff;
}

/*Weather*/
.weather-info{
	text-align: center;
}

.weather-info img { 
	transform: scale(1.5);
}

#forecast-section {
	display: flex; 
    flex-direction: column; 
    align-items: center; 
	
}
.forecast-day {
	display: grid; 
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 10px; 
    margin: 10px 0; 
	border-top: 2px solid #34568f;
	padding: 1rem;
}

#spotlight .member {
	display: flex;
	flex-direction: column;
	width: 300px;
	margin: 0 auto;
	background-color: #fff;
}


/*CTA*/
.join-now {
	align-items: center;
}
.join-now p {
	line-height: 1.5em;
	width:70%;
    text-align:center;
    margin: auto;
	padding: 2rem;
	margin-top: 2rem;
	font-size: 1.2em;
		
}

button{
    display: block;
    grid-column: 5/7;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border:1px solid #34568f;
    border-radius: 20px;
    margin-bottom: 2rem;
    color: #34568f;
    font-family: 'Domine', serif;
    font-weight: bold;
    box-shadow: 2px 2px 5px #34568f;
}

/* Styles for the popup banner */
.popup-banner {
    display: none;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
	
    background-color: #f0f0f0;
    padding: 20px;
    border-top: 1px solid #ccc;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
	text-align: center;
	font-weight: bold;
	color: var(--primary-color);
	font-size: 1.8em;
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}

/*Footer*/

footer{
    padding: 2.5rem;
    margin: 0;
    background-color: #34568f;
    color: #fff;
	
}

.chamber-footer {
	text-align: center;
	justify-content: center;
}

.general-footer{
	text-align: center;
	justify-content: center;
}

footer ul{
	list-style: none;
}

.general-footer  ul{
	text-align: center;
	justify-content: center;
}

.general-footer p {
	text-align: center;
	justify-content: center;
}

.sm-icons img {
	padding: .5rem;
}

/*DISCOVER PAGE*/
.discover-main div {
	padding: 1rem;
	margin: 1rem;
}
.discover-cards  div {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	margin: 1rem;
	padding: 1rem;
	
}
.discover-gallery {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.discover-gallery p{
	font-size: 1.2rem;
}
.discover-gallery img{
	object-fit: cover;
    width: 100%;	
	overflow: auto;	
}

.discover-cards p{
	padding: 1rem;
	text-align: left;

}

/*jOIN FORM*/

.join {
	padding: 1.5rem;
	font-family: 'open sans', sans-serif;
	margin-bottom: 0;
}
.join-form fieldset {
	margin: 1rem 0;
	border: 1.5px solid var(--primary-color);
	padding: 2rem;
	
}

.join-form legend {
	color: var(--primary-color);
	font-weight: bold;
	font-size: 1.5rem;
	font-family: var(--font-family);
	text-align: center;
	padding: 1rem;
}

.join-form label {
	display: block;
	padding-top: 1rem;
	color:#000;
	font-size: 1em;
}

.join-form input[type="text"],
.join-form input[type="email"],
.join-form input[type="tel"] {
	display: block;
	padding: 1rem;
	width: 100%;
	max-width: 300px;
	appearance: none;
}

.join-form input[type="submit"] {
	border: none;
	background-color:var(--primary-color);
	color: var(--secondary-color);
	font-family: var(--font-family);
	padding: 1rem;
	width: 100%;
}

.radio {
	margin-bottom: 20px;	
}

textarea {
	width: 300px;
	
}

.join-form input:required {
	border-right: 6px solid darkred;
}

.join-form input:required:valid{
	border-right: solid 6px darkgreen;
}

/*Membership levels boxes*/

.level{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	padding: 2rem;
	grid-column: 1/2;
	width: auto;
	margin: 3rem;
}

.level p, ul {
    line-height: 1.5em;
	list-style:square;
	text-align: left;
}

.price {
	text-align: center;
	font-size: 1.3em;
	color: var(--primary-color);
	font-weight: bold;
	font-family: var(--font-family);	
}

li::marker {
	color: var(--primary-color);
}

.thankyou{
	margin: 3rem;
	border: 1.5px solid var(--primary-color);
	padding: 2rem;
}
.thankyou h2 {
	font-family: var(--font-family);
	color: var(--primary-color);
}
.thankyou p {
	line-height: 1.5em;
}

.thankyou p:nth-child(2) {
	font-weight: bold;
}

a {
	text-decoration: none;
}

/*DIRECTORY PAGE*/

.members {
	display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.intheoven {
	font-size: 2em;
	color: var(--primary-color);
	font-family: var(--font-family);
	text-align: center;
	padding-bottom: .5rem;
}

#grid, #list {
	display: inline-block;
	margin-inline: .5rem;
}

.menu2 {
	text-align: center;
}

.menu2 button {
	padding: 1rem;
	background-color: var(--secondary-color);
	color: var(--primary-color);
	font-weight: bold;
	border-radius: 0;
	border: 1px solid var(--primary-color);
}

.member ul {
	list-style: none;
	text-align: left;
	padding-top: 20px;
}

.member {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: .5rem;
	padding: 1rem;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	height: 350px;
	line-height: 1.5em;
	background-color: #fff;
	color: #34568f;
	
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 5px;
	align-items: center;
}

.grid section {
	text-align: center;
}

.grid section >* {
	margin: 0.1rem;
}

.list {
	display: flex;
	flex-direction: column;
}

.list section {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin: 0;
	padding: 0.25rem;
}

.list section > * {
	margin: 0 1rem;
}

.list section img {
	display: none; /* smaller viewports only */
}

.list section h3{
	font-size: 1em;
}

.list section:nth-child(even) {
	background-color: #eee;
}

.member-logo {
	height: 100px;
	max-width: 100%;
	padding-bottom: 1rem;
	transform: scale(0.7);
}

.member h3{
	font-family: var(--font-family);
	color: var(--primary-color);
}


