@import url('https://fonts.googleapis.com/css2?family=Domine&family=Open+Sans&family=Seaweed+Script&display=swap');

:root{
	--primary-color:#34568f;
	--secondary-color:#fff;
	--font-family: 'Domine', serif;
	
}
html {
	height: 100%;
  }
  body {
	min-height: 100%;
  }

body{
    background-color: white;
    margin: 0;
    padding: 0;
}

/*Header*/
header{
    background: var(--secondary-color);
    display: flex;
    justify-content: center;
    padding: 20px 0;
    align-items: center;
	margin-bottom: 0;
}

header img{
    max-width: 100px;    
    height: auto;
    padding-right: 10px;
    border-radius: 50%;
    
       
}

header h1{
    font-family: var(--font-family);
	color: var(--primary-color);
    font-size: 2em;  
    align-items: center;
    padding-left: 10px; 
	margin: 2rem;
    
}

nav {
	max-width: 100%;
	margin: 1rem auto;
	padding: 0;
	margin-top: 0;
	
}

/* Mobile View ***************/
#menu {
	display: block;
	font-size: 2rem;
	font-weight:700;
	text-decoration: none;
	padding: .5rem .75rem;
	background-color: #eee;
	color: #000;
}

#menu::before {
	content: "≡";
}

nav {
	background-color: var(--primary-color);
    
}
.navigation {
	list-style: none;
}

.navigation li {
	display: none;
}
.navigation li a {
	display: block;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: var(--secondary-color);
	font-weight: bold;
	font-size: 1.2em;
}

.navigation li a:hover, navigation a:active {
	color: var(--primary-color);
	background-color: var(--secondary-color);
}

nav ul li{
	line-height: 2.5rem;
}

.show li {
	display: block;
}

#menu.show::before {
	content: "X";
}


/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
	display: block;
}
/*Dark mode toggle switch*/

#mode {
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 3rem;
	cursor: pointer;
	font-size: 2rem;
}


/*Hero*/
main { 
	margin: 0 auto;
	font-family:'open sans', sans-serif;
	
}

.hero{
	width: 100%;
	position: relative;
}

.hero img{
	width: 100%;
	height: auto;
	object-fit: cover;
	margin-top: 0;
}
.herolabel{
	position: absolute;
	width: 100%;
	height: 8rem;
	background-color: hsla(218, 47%, 38%, 0.8);
	top: 10rem;
}
.herolabel h2{
	color: var(--secondary-color);
	font-family: var(--font-family);
	text-align: center;
}
.herolabel button{
    padding: 1rem;
    color:#34568f;
    background-color: #fff;
    border:1px solid #34568f;
    border-radius: 20px;
    box-shadow: 2px 2px 5px #fff;
    font-weight: bold;
    margin-top: 1rem;
}


/*Sections*/
.events, .weather, .members{
	grid-row: 2/3;
	height: auto;
    border: 1px solid #34568f;
    margin: 2rem;
    padding: 2rem;
}

section h2{
    font-family: 'Domine', serif;
    color: #34568f;
}

.windchill button{
	margin-top: 20px;
}

/*CTA*/
button{
    display: block;
    grid-column: 5/7;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border:1px solid #34568f;
    border-radius: 20px;
    margin-bottom: 2rem;
    color: #34568f;
    font-family: 'Domine', serif;
    font-weight: bold;
    box-shadow: 2px 2px 5px #34568f;


}

/*Footer*/

footer{
    grid-column: 1/13;
    padding: 2.5rem;
    margin: 0;
    background-color: #34568f;
    color: #fff;
    text-align: center;
    text-decoration: none;
   
}

footer ul{
	list-style: none;
}

/*DISCOVER PAGE*/
h1{
	font-family: domine, serif;
	color: #34568f;
	text-align: center;
	display: block;
}

.discover-main div{
	border: 1px solid #34568f;
	padding: 1rem;
	margin: 1rem;
}
/*.discover-gallery{
	height: auto;
}*/
.discover-gallery img{
	object-fit: cover;
    width: 100%;
	overflow: auto;	
}
.discover-gallery h2{
	text-align: center;
	padding: 0.5rem;
	margin-bottom: 1rem;
}
.discover-gallery p{
	font-size: 1.2rem;
}
.discover-cards h2{
	padding-bottom: 1rem;

}
.discover-cards p{
	padding-bottom: 1rem;
}
/*jOIN FORM*/

.join {
	padding: 1.5rem;
	font-family: 'open sans', sans-serif;
	margin-bottom: 0;
}
.join-form fieldset {
	margin: 1rem 0;
	border: 1.5px solid var(--primary-color);
	padding: 2rem;
	
}

.join-form legend {
	color: var(--primary-color);
	font-weight: bold;
	font-size: 1.5rem;
	font-family: var(--font-family);
	text-align: center;
	padding: 1rem;
}

.join-form label {
	display: block;
	padding-top: 1rem;
	color:#000;
	font-size: 1em;
}

.join-form input[type="text"],
.join-form input[type="email"],
.join-form input[type="number"] {
	display: block;
	padding: 1rem;
	width: 100%;
	max-width: 300px;
	appearance: none;
}

.join-form input[type="submit"] {
	border: none;
	background-color:var(--primary-color);
	color: var(--secondary-color);
	font-family: var(--font-family);
	padding: 1rem;
	width: 100%;
}

.radio {
	margin-bottom: 20px;	
}

textarea {
	width: 300px;
	
}

.join-form input:required {
	border-right: 6px solid darkred;
}

.join-form input:required:valid{
	border-right: solid 6px darkgreen;
}

/*Membership levels boxes*/

.level{
	border: 1px solid var(--primary-color);
	padding: 20px;
	grid-column: 1/2;
	width: 400px;
	margin-top: 20px;

	
}
.level h2, .price {
	font-family: var(--font-family);
	color: var(--primary-color);
	
}

.price {
	text-align: center;
	font-size: 1.3em;
}

.thankyou{
	margin: 3rem;
	border: 1.5px solid var(--primary-color);
	padding: 2rem;
}
.thankyou h2 {
	font-family: var(--font-family);
	color: var(--primary-color);
}
.thankyou p {
	line-height: 1.5em;
}

.thankyou p:nth-child(2) {
	font-weight: bold;
}

a {
	text-decoration: none;
}