@media (min-width: 1000px) {
	
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 100%;
	}
	.navigation a {
		text-align: center;
	}
	#menu {
		display: none;
	}
	.herolabel {
		position: absolute;
		top: 3.7rem;
		left: 18rem;
		padding: 1.5rem;
		
		
	}
	
	

}
