@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500&family=Pacifico&display=swap');

body{
    font-family: 'Mulish', sans-serif;
    

}

h1{
    text-align: center;
    font-size: 2em;
    background-color: #B31B68;
    color: #fff;
    padding: 20px;
}

main{
    margin: 0 auto;
    width: 400px;
    display: flex;
    flex-direction: column;
}

img{
    width: 100%;
    background:#000;
    animation: fade 15s;
}

figcaption{
    margin-bottom: 20px;
}

@keyframes fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

ul{
    list-style: none;
}
footer{
    text-align: center;
    background-color: #91C5CC;
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
    padding: 20px;

}
#lastModified{
color:#5b1036;
font-weight: bold;
}

#name{
    font-family:'Pacifico', cursive;
    font-size: 1.5em;
}