@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500&family=Pacifico&display=swap');
body{
    background-color: white;
    margin: 0;
    padding: 0;
}
header{
    background:#B31B68;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    align-items: center;
   
   

}
header img{
    max-width: 100px;    
    height: auto;
    padding-right: 10px;
    border-radius: 50%;
    
       
}

header h1{
    font-family: 'Pacifico', cursive;
    color:#fff;
    font-size: 2.5em;  
    align-items: center;
    padding-left: 10px; 
    
}

/*Hamburger menu*/
nav {
	max-width: 100%;
	margin: 0 auto;
    padding: 0;
}

  

/* small view navigation */
/* small view navigation */
#menu {
	font-size: 1.5rem;
	padding: 3px 7px 6px;
	position: fixed;
	top:0;
	right:0;
}


#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "x";
}

.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
	background-color:#91C5CC;
	color: #5b1036;
    padding: 0;
    margin: 0;
}

.navigation li{
    display: none;
}

.navigation li a {
    display: block;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #5b1036;
}
.navigation li a:hover {
	background-color: #B31B68;
	color: #fff;
	font-weight: 700;
}

/* when the button is clicked - the open class is toggled (added/removed) */
.open li{
    display: block;
    width: 100%;
}

.open li a {
	display: block;
}

main{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    gap: 0.5rem;
    font-family: 'Mulish', sans-serif;
    margin: 0 auto;   
    
}

main h2{
    text-align: center;
    margin-bottom: 1rem;
}

ul{
    list-style-type: none;
}

h3{
    background: #B31B68;
    color: white;
    text-align: center;
    padding: 5px;
    padding-top: 0;
    margin-top: 0;
}

.hero {
    position: relative;
    grid-column: 1

}

.hero img {
	width: 100%;
	height: auto;
    object-fit: cover;
	
}

.herolabel {
	position: absolute;
	top: 30px;
	left: 30px;
	
}

.herolabel h2 {
	margin: 0;
	padding: .25rem;
	font-weight: 700;
	font-size: 1em;
    color: #B31B68;
    border-bottom: none;
	
}

h2{
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #91C5CC;
    color:#B31B68;
    margin-top: 20px;
}

section p{
    text-align: center;
}
.card{
    border: 1px solid #B31B68;
    margin: 20px;
}

footer{
    grid-column: 2/3;
    text-align: center;
    background-color: #91C5CC;
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
    padding: 1.5rem;

}
#lastModified{
color:#5b1036;
font-weight: bold;
}

#name{
    font-family:'Pacifico', cursive;
    font-size: 1.5em;
}


.container {
    margin: 0 auto;
    padding-top: 75%; /* 4:3 Aspect Ratio */
    margin-top: 0;
  }
  