@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500&family=Pacifico&display=swap');
:root {
    --primary-color:#B31B68;
    --secondary-color: #91C5CC;
    --border: #B31B68;
}

main{
    padding: 0 2%;
    min-height: 20rem;
    font-family: 'Mulish', sans-serif;
   
}

h1{
    font-family: Pacifico, cursive;
    font-size: 2rem;
    color: var(--primary-color);
}

i {
    font-size: .8rem;
}

.form fieldset {
    margin: 2rem 0;
    border: 1.5px solid var(--border);
    padding: 1rem 2%;
}

.form legend{
    color: var(--primary-color);
    font-weight: bold;
    padding: .5rem;
}

.form label{
    display: block;
    padding-top: 1rem;
    color: #000;
    font-size: .9rem;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="password"] {
    background-color: #eee;
    display: block;
    border: 1px solid var(--border);
    padding: .75rem;
    width: 100%;
    max-width: 400px;
    appearance: none;
}

.form input[type="range"] {
    width:100%;
    max-width: 400px;
    margin-bottom: 1rem;
    color: transparent;
}

.form input[type="submit"] {
    border: none;
    background-color: var(--secondary-color);
    color: #5b1036;
    font-weight: bolder;
    border-radius: 6px;
    padding: .8rem;
    width: 96%;
    max-width: 400px;
    margin: -1rem 2% 2rem 2%;
    box-shadow: 1px 1px 4px #5b1036;
    margin-top: 2rem;
      
}

.form input:required {
    border-right:solid  8px darkred;
}

.form input:required:valid {
    border-right: solid 8px darkgreen;
}


footer{
    margin-top: 6rem;
}

.record {
    border: 1.5px solid var(--border);
    margin: 2rem;
    padding: 2rem;
}